
  {% for video in page.header.videos %}
  <section class="section-video bg-inverse text-center wp wp-4">
  <video id="video{{ loop.index }}" class="video-js vjs-default-skin vjs-big-play-centered" controls poster="{{ page.media[video.poster].url }}" data-setup='{}'>
    {% for source in video.sources %}
      <source src="{{ source.url }}" type='{{ source.type }}'>
    {% endfor %}
  </video>
    <script type="text/javascript">
    function htmlVideo() {
      videojs("video{{ loop.index }}", {
        controlBar: {
          timeDivider: false,
          fullscreenToggle: false,
          playToggle: false,
          remainingTimeDisplay: false
        },
        "height": "auto",
        "width": "auto"
      }).ready(function() {
        var myPlayer = this;
        var aspectRatio = 5 / 12; // aspect ratio 12:5 (video frame 960x400)
        function resizeVideoJS() {
            var width = document.getElementById(myPlayer.id()).parentElement.offsetWidth;
            myPlayer.width(width).height(width * aspectRatio);
        }
        resizeVideoJS();
        window.onresize = resizeVideoJS;
      });
    }
    </script>
</section>
  {% endfor %}
