<header class="jumbotron bg-inverse text-center center-vertically" role="banner">
  <div class="container">
    <h1 class="display-3">{{ site.header.title }}</h1>
    <h2 class="m-b-lg">{{ site.header.description }}</h2>


    {% for item in site.header.buttons %}
    <a class="btn btn-secondary-outline m-b-md" href="{{ item.url }}" role="button"><span class="icon-{{ item.icon }}"></span>{{ item.text }}</a>
    {% endfor %}

    <ul class="list-inline social-share">
      <li><a class="nav-link" href="#"><span class="icon-twitter"></span> 1024</a></li>
      <li><a class="nav-link" href="#"><span class="icon-facebook"></span> 562</a></li>
      <li><a class="nav-link" href="#"><span class="icon-linkedin"></span> 356</a></li>
    </ul>
  </div>
</header>
