<div class="col-md-8 col-xl-6 col-xl-offset-3">
  <div class="alert">{{ form.message }}</div>

  <form name="{{ form.name }}"
  action="{{ uri.rootUrl ~ (form.action|default(page.route)) }}"
  method="{{ form.method|upper|default('POST') }}">
  {% for field in form.fields %}
  {% set value = form.value(field.name) %}
  {% include "forms/fields/#{field.type}/#{field.type}.html.twig" %}
{% endfor %}
</div>

<div class="col-md-8 col-xl-6 col-xl-offset-3">
  <div class="form-group">
    {% for button in form.buttons %}
    <button class="btn btn-primary btn-block" type="{{ button.type|default('submit') }}">{{ button.value|default('Submit') }}</button>
    {% endfor %}
  </div>
</div>

  {{ nonce_field('form', 'form-nonce') }}
</form>
